* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1100px;
  margin: auto;
}

.common-btn {
  background-color: #1d4ed8;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* navbar style starts from here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav .nav-item ul {
  display: flex;
  gap: 24px;
}

nav .nav-item ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

/* hero-section style starts here */

.hero-container {
  background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url("./assets/banner.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hero-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #ffffff;
}

.hero-content h1 {
  font-size: 80px;
  font-weight: bold;
  margin-top: 3rem;
}

.hero-content h1 span{
  font-weight: bold;
  font-style: italic;
}

.hero-content p {
  font-size: 22px;
  font-weight: 400;
  padding: 0 10rem;
  margin-top: 0.5rem;
}

.hero-content button {
  border: none;
  font-size: 24px;
  background-color: #1d4ed8;
  padding: 12px 12px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 15rem;
  cursor: pointer;
}

/* meet the spceaker section style starts here  */

.meat-the-spk-sec-heading {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 56px;
  font-size: 56px;
  font-weight: bold;
}

.meat-the-spk-sec-box-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.meat-the-spk-sec-box {
  border: 1px solid rgb(221, 218, 218);
  border-radius: 12px;
}

.meat-the-spk-sec-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px 12px 0px 0px;
}

.meat-the-spk-sec-box h3 {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  color: #2563eb;
}

.meat-the-spk-sec-box h2 {
  font-size: 20px;
  font-weight: bold;
}

.meat-the-spk-sec-box p {
  font-size: 14px;
  font-weight: 400;
}

.meat-the-spk-sec-box h3,
h2,
p {
  padding-left: 20px;
  margin-bottom: 10px;
}

.meat-the-spk-sec-box p {
  margin-bottom: 20px;
}

/* Secure Your Spot section style starts here  */

.Secure-Your-Spot-container {
  margin-top: 80px;
}
.sec-your-spot-heading-and-date {
  text-align: center;
  padding-bottom: 48px;
}

.sec-your-spot-heading-and-date h2 {
  font-size: 48px;
  font-weight: bold;
}

.sec-your-spot-heading-and-date p {
  font-size: 16px;
  font-weight: 400;
}

.secure-your-spot-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0px 3rem;
}

.secure-your-spot-cards {
  border: 1px solid rgb(202, 200, 200);
  padding: 32px 32px;
  border-radius: 12px;
}

.secure-your-spot-cards .varient {
  font-size: 13px;
  font-weight: 600;
  padding: 0px;
  
}

.secure-your-spot-cards .price {
  font-size: 44px;
  font-weight: bold;
}

.secure-your-spot-cards .person {
  font-size: 13px;
  font-weight: 400;
}

.devider {
  width: 100%;
  height: 1px;
  margin: 20px 0px;
  background-color: rgb(227, 225, 225);
}

.secure-your-spot-cards ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.secure-your-spot-cards ul li {
  font-size: 14px;
  font-weight: 400;
}

.secure-your-spot-cards li::marker {
  color: #2563eb;
}

.secure-your-spot-cards button {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 0px;
  color: #ffffff;
  background-color: #2563eb;
  border: none;
  border-radius: 12px;
  cursor: pointer;

}

.highlighted-card {
  background-color: #0d1b2a;
  color: #ffffff;
}

.highlighted-card .varient {
  color: #1d4ed8;
}

.highlighted-card .devider {
  background-color: #1b2d40;
}

.team-card {
  background-color: #f8f9fb;
}

/* why-attend section style starts here  */

.why-attend {
  max-width: 1200px;
  margin: auto;
  padding: 100px 20px;
}

/* ====================== */

.section-title {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.subtitle {
  display: inline-block;
  color: #2563eb;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.section-title h2 {
  font-size: 42px;
  color: #0f172a;
  margin-bottom: 20px;
  line-height: 1.3;
}

.section-title h2 span {
  color: #2563eb;
}

.section-title p {
  color: #64748b;
  font-size: 17px;
  line-height: 1.8;
}

/* ====================== */

.why-grid {
  margin-top: 70px;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* ====================== */

.card {
  background: #fff;
  border-radius: 18px;
  padding: 35px;
  border: 1px solid #e5e7eb;
  text-align: start;
  transition: 0.35s ease;

  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

/* ====================== */

.icon {
  width: 70px;
  height: 70px;

  border-radius: 50%;

  background: #eff6ff;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 25px;
}

.icon i {
  font-size: 28px;
  color: #2563eb;

  transition: 0.3s;
}

.card:hover .icon i {
  transform: scale(1.2) rotate(-5deg);
}

/* ====================== */

.card h3 {
  font-size: 22px;
  color: #0f172a;
  margin-bottom: 15px;
}

.card p {
  padding-left: 0px;
  color: #64748b;
  line-height: 1.8;
  font-size: 15px;
}


/* footer section style starts here  */

footer{
  width: 100%;
  background-color: #0d1b2a;
  
}

.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.footer-logo-and-social-media-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-media-icon{
  display: flex;
  gap: 30px;
}
.social-media-icon i{
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
  
}

.footer-devider{
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  margin: 30px 0px;
}

.coppyright{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  
}

.coppyright i{
  color: #ffffff;
  font-size: 15px;
  
}

.coppyright p{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;

}